<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBn+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <h1>LOGIN SUCCESSFULLY</h1>
</head>

<body>
  
<style>
.top-container {
    height: 300px;
    width: 500px;
    background-size: cover;
}

.top-heading {
    color: white;
    font-size: 40px;
    font-family: Caveat;
    width: 275px;
    padding: 30px;
}

.bottom-big-container {
    background-color: #e6f6ff;
    width: 500px;
    text-align: center;
    padding:20px;
}

.bottom-small-container {
    text-align: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
}

.small-container-image {
    height: 125px;
    width:180px;
    background-size:cover;
    padding: 10px;
    border-radius:20px;
}

.small-container-name {
    font-family: Roboto;
    font-size: 20px;
    color: #616e7c;
    font-weight: bold;
}

.small-container-cost {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color: #323f4b;
}
</style>

    <div>
        <img class="top-container" src="https://images.indianexpress.com/2022/10/diwali-1200.jpg"/>
    </div>

    <div class="bottom-big-container">

        <div class="d-flex flex-row justify-content-center">
            <div class="bottom-small-container">
                <img src="https://m.media-amazon.com/images/I/41MR4ti1M+L.jpg" class="small-container-image"/>
                <h1 class="small-container-name">Diwali Air Baloons</h1>
                <p class="small-container-cost">Rs 200</p>
            </div>

            <div class="bottom-small-container">
                <img src="https://i.natgeofe.com/k/78b4bad0-dc9c-4e40-ac3c-c753e7a8caf6/diwali_lamps-crop_3x2.jpg" class="small-container-image"/>
                <h1 class="small-container-name">Diwali lamps</h1>
                <p class="small-container-cost">Rs 50</p>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center">
            <div class="bottom-small-container">
                <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202210/diwali-sixteen_nine.jpeg?VersionId=Y.78TK.LEvSm.EW2Fdij_D5sOHydqdpP" class="small-container-image"/>
                <h1 class="small-container-name">Sparkles</h1>
                <p class="small-container-cost">Rs 100</p>
            </div>

            <div class="bottom-small-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQahJTyJVK-RvVlybMDwra8-C8keachAv5nz8nl2fSMs30yfBunfUQZRzbIQLfAmBNuSY4&usqp=CAU" class="small-container-image" />
                <h1 class="small-container-name">Fire Crackers</h1>
                <p class="small-container-cost">Rs 250</p>
            </div>
        </div>
        <a href="https://www.crackersindia.com/" class="button" class="btn-btn-primary">view more</a>

    </div>

</body>

</html>